{% extends "base.html" %}
{% block title %}Attendee Form - {{ attendee.full_name }}{% endblock %}
{% block content %}

{% include "registration/menu.html" %}

<script type="text/javascript">
    function isPreassignedBadgeType(badge_type) {
        return $.inArray(parseInt(badge_type), [{{ STAFF_BADGE }}, {{ SUPPORTER_BADGE }}]) >= 0;
    }
    
    function setGroupLink() {
        var group = $.val("group_opt");
        if( group == "" )
            $("#group_link").hide();
        else
            $("#group_link").attr("href", "../groups/form?id=" + group).show();
    }
    
    var unassigned = {{ unassigned|jsonize }};
    var groupWarning = function() {
        var groupID = $.val("group_opt");
        if (groupID && "{{ attendee.id }}" == "None" && unassigned[groupID] > 0) {
            $("#unassigned").show("slow");
        } else {
            $("#unassigned").hide("fast");
        }
    }
    
    var setAmountPaid = function(focus) {
        {% if not attendee.id %}
            var amount = {{ BADGE_PRICE }};
            if( $.val("badge_type") == {{ ONE_DAY_BADGE }} )
                amount = {{ ONEDAY_BADGE_PRICE }};
            
            if( $.val("paid") === {{ HAS_PAID }} )
                $.field("amount_paid").val(amount);
            else if( $.val("paid") === {{ NOT_PAID }} )
                $.field("amount_paid").val(0);
        {% endif %}
        
        if (focus) {
            $.focus("amount_paid");
        }
    }
    
    function showOrHideAmounts(focus) {
        var paid = $.val("paid"),
            extra = $.val("amount_extra");
        setVisible("#amount_paid", paid !== {{ NEED_NOT_PAY }} && paid !== {{ PAID_BY_GROUP }} || extra > 0);
        setVisible("#amount_refunded", paid === {{ REFUNDED }});
        setAmountPaid(focus);
    }
    
    function boldOrRegular() {
        if( $.field("placeholder").is(":checked") ) {
            $(".maybe_bold").css("font-weight", "normal");
            $(".full_name").css("font-weight", "bold");
        } else {
            var form = document.forms[0];
            if( form.group_opt.selectedIndex > 0 )
                $(".maybe_bold").css("font-weight", "normal");
            else {
                $(".maybe_bold").css("font-weight", "bold");
                {% if AT_THE_CON %}
                    $("#email,#zip_code").css("font-weight", "normal");
                {% endif %}
            }
        }
    }
    
    function setPreassigned() {
        if( $.field("placeholder").is(":checked") ) {
            $.field("paid").val("{{ NEED_NOT_PAY }}");
        }
        showOrHideAmounts();
    }
    
    function setBadgeMessage() {
        if ($.field("badge_type") && isPreassignedBadgeType($.val("badge_type"))) {
            $("#badge_message").text("(next available badge number)");
        } else {
            $("#badge_message").text("");
        }
    }
    
    var showOrHideStaffStuff = function() {
        setVisible('.staffing', $.field("staffing").is(":checked"));
    };
    
    $(document).ready(function(){
        $.field("placeholder").click(boldOrRegular).click(setPreassigned);
        setBadgeMessage();
        boldOrRegular();
        setGroupLink();
        showOrHideAmounts();
        showOrHideStaffStuff();
        $.field("staffing").on("click", showOrHideStaffStuff);
        {% if AT_THE_CON and not attendee.id %}
            $.field("paid").val({{ HAS_PAID }});
            $.field("amount_paid").val({{ BADGE_PRICE }});
        {% endif %}
    });
</script>

{% if AT_THE_CON %}
    <div style="display:none">
        <input type="checkbox" name="placeholder" /> TODO: this is a big hack, figure this out
    </div>
{% endif %}
<form method="post" action="form">
{% csrf_token %}
<input type="hidden" name="id" value="{{ attendee.id }}" />
<input type="hidden" name="return_to" value="{{ return_to }}" />
<table width="100%" cellspacing="5" cellpadding="5">
{% if not AT_THE_CON %}
    <tr>
        <td width="25%"> <b>Placeholder:</b> </td>
        <td width="75%">
            {% checkbox attendee.placeholder %} This attendee needs to
            {% if attendee.id %}
                <a href="../preregistration/confirm?id={{ attendee.secret_id }}">register themself</a>
            {% else %}
                register themself
            {% endif %}
        </td>
    </tr>
{% endif %}
<tr>
    <td width="25%"> <b>Badge:<b> </td>
    <td width="75%">
        {% if attendee.id %}
            {{ attendee.badge }}
            {% if attendee.group %}(<a href="../groups/form?id={{ attendee.group.id }}">{{ attendee.group.name }}</a>){% endif %}
            &nbsp;&nbsp; [<a href="change_badge?id={{ attendee.id }}">Change</a>]
        {% else %}
            <select name="badge_type" onChange="boldOrRegular(); setBadgeMessage(); setAmountPaid();">
                {% options BADGE_OPTS attendee.badge_type %}
            </select>
            {% if AT_THE_CON %}
                #<input class="focus" type="text" style="width:4em" name="badge_num" value='{{ attendee.badge_num|default:"" }}' />
            {% else %}
                <span id="badge_message" style="font-style:italic"></span>
            {% endif %}
        {% endif %}
        &nbsp;&nbsp;
        <select name="ribbon">
            {% options RIBBON_OPTS attendee.ribbon %}
        </select>
        {% if AT_THE_CON and not attendee.badge_num %}
            <br/> <input type="checkbox" name="omit_badge" value="yes" {% if omit_badge %}checked{% endif %} /> Omit badge number
        {% endif %}
        {% if attendee.badge_type == STAFF_BADGE %}
            &nbsp;&nbsp; [{{ attendee.hotel_status }}]
        {% elif attendee.is_transferrable %}
            &nbsp;&nbsp; [<a href="../preregistration/confirm?id={{ attendee.secret_id }}">Confirm/Transfer</a>]
        {% endif %}
    </td>
</tr>
{% if attendee.badge_type == SUPPORTER_BADGE %}
    <tr>
        <td> Affiliate: </td>
        <td> <input type="text" name="affiliate" value="{{ attendee.affiliate|default:"" }}" /> </td>
    </tr>
{% endif %}
<tr>
    <td> Group: </td>
    <td>
        <select name="group_opt" onChange="boldOrRegular() ; setGroupLink() ; groupWarning()">
            <option value="">Choose a group, if applicable</option>
            {% options group_opts attendee.group.id %}
        </select>
        &nbsp; <a id="group_link" href="">View this Group's Page</a>
        <div id="unassigned" style="display:none ; color:red">
            Warning: This group has at least one unassigned badge.  Are you sure you want this to be a new attendee and not just fill in the data for one of this group's badges?
        </div>
    </td>
</tr>
<tr>
    <td class="maybe_bold full_name"> <nobr>First and Last Name:</nobr> </td>
    <td>
        <input class="focus" type="text" style="width:10em" name="first_name" value="{{ attendee.first_name }}" />
        <input type="text" style="width:10em" name="last_name"  value="{{ attendee.last_name }}"  />
    </td>
</tr>
{% if attendee.badge_type == STAFF_BADGE or attendee.badge_type == SUPPORTER_BADGE %}
    <tr>
        <td>Printed on Badge:</td>
        <td> <input type="text" name="badge_printed_name" value="{{ attendee.badge_printed_name }}" {% if CUSTOM_BADGES_REALLY_ORDERED %}readonly{% endif %} /> </td>
    </tr>
{% endif %}
<tr>
    <td class="maybe_bold" id="email"> Email Address: </td>
    <td> <input type="text" name="email" value="{{ attendee.email }}" /> </td>
</tr>
<tr>
    <td class="maybe_bold" id="zip_code"> Zip Code: </td>
    <td>
        <input type="text" name="zip_code" value="{{ attendee.zip_code }}" />
        {% checkbox attendee.international %} Attendee is from outside the US.
    </td>
</tr>
<tr>
    <td class="maybe_bold"> <nobr>Emergency Contact</nobr> <nobr>Phone Number:</nobr> </td>
    <td> <input type="text" name="ec_phone" value="{{ attendee.ec_phone }}" /> </td>
</tr>
<tr>
    <td> <nobr>{% bold_if AT_THE_CON %}Age as of {{ EVENT_NAME }}:{% end_bold_if %}</nobr> </td>
    <td>
        <select name="age_group">
            {% options AGE_GROUP_OPTS attendee.age_group %}
        </select>
    </td>
</tr>
<tr>
    <td valign="top"> Staffing </td>
    <td>
        {% checkbox attendee.staffing %} This attendee is {% if attendee.staffing %}<a href="goto_volunteer_checklist?id={{ attendee.id }}">volunteering</a>{% else %}volunteering{% endif %}
        <div class="staffing">{% checkbox attendee.trusted %} Trusted {% popup_link "../static/views/trustDesc.html" %}</div>
    </td>
</tr>
<tr class="staffing">
    <td valign="top"> Requested Depts </td>
    <td> {% checkgroup attendee.requested_depts %} </td>
</tr>
<tr class="staffing">
    <td valign="top"> Assigned Depts </td>
    <td> {% checkgroup attendee.assigned_depts %} </td>
</tr>
<tr>
    <td> <nobr>How did they</nobr> <nobr>find {{ EVENT_NAME }}?</nobr> </td>
    <td> <input type="text" name="found_how" value="{{ attendee.found_how }}" style="width:80%" /> </td>
</tr>
{% if AT_THE_CON and attendee.id %}
    <tr>
        <td> Received Merch </td>
        <td> {% checkbox attendee.got_merch %} Yes </td>
    </tr>
    <tr>
        <td> Signed Up </td>
        <td> <i>{{ attendee.registered }}</i> </td>
    </tr>
{% endif %}
<tr>
    <td> Interested In: </td>
    <td>
        <nobr><input type="checkbox" onClick="$(':checkbox[name=interests]').attr('checked',this.checked)" /> All</nobr>
        {% checkgroup attendee.interests %}
    </td>
</tr>
<tr>
    <td> <nobr>Personal Phone Number:</nobr> </td>
    <td> <input type="text" name="phone" value="{{ attendee.phone }}" /> </td>
</tr>
<tr>
    <td> Attendee Comments: </td>
    <td> <input type="text" name="comments" value="{{ attendee.comments }}" style="width:80%" />  </td>
</tr>
<tr>
    <td> Paid: </td>
    <td>
        <select name="paid" onChange="showOrHideAmounts(true)">
            {% options PAID_OPTS attendee.paid %}
        </select>
        &nbsp;&nbsp;&nbsp;
        <span id="amount_paid">
            Paid: $<input type="text" style="width:4em" name="amount_paid" value="{{ attendee.amount_paid }}" />
        </span>
        &nbsp;&nbsp;&nbsp;
        <span id="amount_refunded">
            Refunded: $<input type="text" style="width:4em" name="amount_refunded" value="{{ attendee.amount_refunded }}" />
        </span>
        &nbsp;&nbsp;&nbsp;
        Kicked in extra:
        <select name="amount_extra" onChange="showOrHideAmounts(true)">
            {% options DONATION_OPTS attendee.amount_extra %}
        </select>
        {% if AT_THE_CON and attendee.staffing %}
            <br/> ({{ attendee.worked_hours }} out of {{ attendee.weighted_hours }} hours worked)
        {% endif %}
    </td>
</tr>
<tr>
    <td> Extra Merch: </td>
    <td> <input type="text" name="extra_merch" value="{{ attendee.extra_merch }}" style="width:80%" /> </td>
</tr>
<tr>
    <td> Special Regdesk Instructions: </td>
    <td> <input type="text" name="regdesk_info" value="{{ attendee.regdesk_info }}" style="width:80%" /> </td>
</tr>
<tr>
    <td> Receive Newsletter: </td>
    <td> {% checkbox attendee.can_spam %} Yes </td>
</tr>
{% if AT_OR_POST_CON %}
    <tr>
        <td valign="top"> Notes for Later Review: </td>
        <td> <textarea name="for_review" rows="3" style="width:66%">{{ attendee.for_review }}</textarea> </td>
    </tr>
{% endif %}
<tr>
    <td valign="top"> Admin Notes: </td>
    <td> <textarea name="admin_notes" rows="3" style="width:66%">{{ attendee.admin_notes }}</textarea> </td>
</tr>
</table>
<br/>
<div style="margin-left:25%">
    <input type="submit" value="Upload Info" />
</div>
</form>

{% if attendee.id %}
    <div style="margin-left:25%">
        <form method="post" action="delete" onSubmit="return confirm('{% if attendee.group %}Are you sure you want to unassign this badge?{% else %}Are you sure you want to delete this attendee?{% endif %}');" />
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ attendee.id }}" />
            {% if return_to %}<input type="hidden" name="return_to" value="{{ return_to }}" />{% endif %}
            <br/><input type="submit" value="{% if attendee.group %}Unassign this group badge{% else %}Delete Attendee{% endif %}" />
        </form>
    </div>
{% endif %}

{% endblock %}
