{% extends "base.html" %}
{% block title %}Group Admin{% endblock %}
{% block content %}

<script type="text/javascript">
    function toggleDisplay(dropdown) {
        window.location = "index?order={{ order }}&show=" + $(dropdown).val();
    }
</script>

<h2> Groups </h2>

<div style="text-align:center">
    <b>Total:</b> {{ total_groups }} groups ({{ total_badges }} badges, {{ tables }} tables)
    &nbsp;&nbsp;&nbsp;&nbsp;
    <b>With Tables:</b> {{ tabled_groups }} groups ({{ tabled_badges }} badges)
    &nbsp;&nbsp;&nbsp;&nbsp;
    <b>Without Tables:</b> {{ untabled_groups }} groups ({{ untabled_badges }} badges)
    
    <br/> <br/>
    
    {{ approved_tables }} approved tables / {{ waitlisted_tables }} waitlisted tables / {{ unapproved_tables }} unapproved tables
</div>

<br/>

<div style="text-align:center">
    <a href="form?id=None">Add a group</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <select onChange="toggleDisplay(this)">
        <option value="all"    {% if show == "all" %}selected{% endif %}>Show All Groups</option>
        <option value="tables" {% if show == "tables" %}selected{% endif %}>Show Groups With Tables</option>
        <option value="groups" {% if show == "groups" %}selected{% endif %}>Show Groups Without Tables</option>
    </select>
</div>

<br/>

<table class="list">
<tr class="header">
    <td width="25%" style="text-align:left"> <a class="sortlink" href="index?show={{ show }}&order={{ order.name }}">Name</a> </td>
    <td width="15%"> <a href="index?show={{ show }}&order={{ order.status }}">Approved</a> </td>
    <td width="15%"> <a href="index?show={{ show }}&order={{ order.badges }}">Badges</a>{% popup_link "../static/views/badgeCounts.html" %} </td>
    <td width="15%"> <a href="index?show={{ show }}&order={{ order.tables }}">Tables</a> </td>
    <td width="15%"> <a href="index?show={{ show }}&order={{ order.amount_owed }}">Owed</a> </td>
    <td width="15%"> <a href="index?show={{ show }}&order={{ order.amount_paid }}">Paid</a> </td>
</tr>
{% for group in groups %}
    <tr bgcolor="{% cycle #FFFFFF,#EEEEEE %}">
        <td style="text-align:left"> <a href="form?id={{ group.id }}">{{ group.name|default:"?????" }}</a> </td>
        <td>
            {% if group.is_dealer %}
                {{ group.get_status_display }}
            {% else %}
                n/a
            {% endif %}
        </td>
        <td> {{ group.badges_purchased }} / {{ group.badges }} </td>
        <td> {{ group.tables }} </td>
        <td> ${{ group.amount_owed }} </td>
        <td> ${{ group.amount_paid }} </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
