<html>
<head></head>
<body>

You ({{ attendee.full_name }}) have preregistered for MAGFest
{% if attendee.group %}
    by claiming one of the badges in the {{ attendee.group.name }} group.
{% else %}
    and your payment of ${{ attendee.amount_paid }} has been received.  
{% endif %}
Your registration confirmation number is {{ attendee.secret_id }}.

<br/> <br/>
Badges are not mailed out before the event, so your badge will be available for pickup at the registration desk when you arrive at MAGFest. Simply bring a photo ID to the registration desk, where you'll be provided with your badge. If you ordered bonus items such as a ribbon, t-shirt, or supporter package, you can pick those up at our merchandise booth. The location and hours of the registration desk and merchandise booth will be e-mailed prior to the event.

{% if attendee.amount_extra %}
    <br/> <br/>
    Your additional contribution of ${{ attendee.amount_extra }} provides you with these bonus items, which may be picked up at our merch booth:
    <ul>
    {% for swag in attendee.donation_swag %}
        <li>{{ swag }}</li>
    {% endfor %}
{% endif %}

{% include "emails/reg_notes.html" %}

{% if attendee.is_transferrable %}
    <br/> <br/>
    MAGFest has a no-refund policy for all registrations.  If for any reason you can't make it, we allow and encourage
    you to resell your registration for the exact price you paid for it.  To transfer your registration to another person,
    send them <a href="{{ URL_BASE }}/preregistration/transfer_badge?id={{ attendee.secret_id }}">this personalized link</a>,
    which will work until {{ UBER_TAKEDOWN|datetime }}.
{% endif %}

</body>
</html>
