<html>
<head></head>
<body>

{{ attendee.first_name }}, <br/> <br/>

You are receiving this e-mail because you ticked an interest in "LAN" while preregistering for MAGFest. For those who are not aware, this is a "BYOC" or Bring Your Own Computer LAN room. We will have a limited amount of public PCs available to play.

<h3><u>GENERAL RULES OF THE LAN ROOM</u></h3>

<ul>
    <li><b>Your monitor cannot be larger than 36 inches</b> (no large TVs please!) due to space concerns. Multiple monitors are allowed (up to 3 MAX), but please be ready to fallback to 1 monitor in case we start to run out of space. If you bring multiple monitors you are allowed to take up two "spots".<br/><br/></li>
    <li><b>Headphones required</b>, no speakers allowed.<br/><br/></li>
    <li><b>Please bring an Ethernet cable that is at least 25 feet in length.</b> You will be responsible for hooking up to our network, NOT US. We will have limited amounts of ethernet cable in case you forget to bring one. You may have to crimp it yourself.<br/><br/></li>
    <li><b>Please bring a power strip for YOUR EQUIPMENT. <u>DO NOT DAISY CHAIN WITH OTHER PEOPLE</u>.</b> We will have power strips, but not as many as we need.<br/><br/></li>
    <li><b>Please adhere to the guidelines that are in the program</b> as well as the posted notices in the LAN room as far as conduct and network connections go.<br/><br/></li>
    <li><b>We are limiting each leaf switch to 10 people total</b> to maximize our backbone bandwidth. Please pay attention to the labels on the switches. You should be within 20 feet from the nearest switch.<br/><br/></li>
    <li><b>Please do NOT plug in your own networking equipment</b> (switches, routers, etc). It can cause problems.</li>
</ul>

<h3><u>ATTENDEE-PROVIDED SERVER AREA</u></h3>

This year we will have a rack for your server! We can support a few full towers, and a lot of rackmount servers. The advantage of having your server in our rack is that we will provide your server with a 1Gb port, so you can serve at high speed to the rest of the LAN network! Or, run your own game servers. Yay! We love game servers. Please bring your own rails if it's a server blade.

<h3><u>TOURNAMENTS</u></h3>

This year, we are running some tournaments. The prizes will be MPoints which you can spend in the dealers room at MAGFest. To guarantee your admission into the tournaments, we recommend bringing your own computer instead of attempting to get a spot on the public play PCs.

<br/> <br/>

You can find more information on the tournaments at this thread on our forums:
<a href="http://magfest.org/forum/viewtopic.php?f=3&t=1834">http://magfest.org/forum/viewtopic.php?f=3&t=1834</a>

<br/><br/>

The official schedule has the times for the tournaments:
<a href="http://magfest.org/schedule/">http://magfest.org/schedule/</a>

<br/> <br/> <hr/> <br/> <br/>

Thank you again for having interest in the MAGFest LAN room and we'll see you in the virtual battle zone on January 3rd, 2013!

<br/> <br/>

With love, <br/>
-Greg and the rest of the LAN room guys <br/>
Jan 3rd - 6th 2013 - MAGFest XI LAN Room

</body>
</html>
