<html>
<head></head>
<body>

You are receiving this e-mail because you are pre-registered to attend {{ EVENT_NAME }} {{ YEAR }}.
Please refer to this FAQ for instructions on how to get your badge, and how to view the schedule.

<br/> <br/>

<b>Where do I go when I arrive? How do I pick up my pass?</b>
<br/>
The first step is to go to the registration desk to pick up your pass.
The registration desk is open 24 hours a day from Thursday-Sunday, and will also be open Wednesday evening.
Use <a href="http://magfest.org/sites/default/files/m12maptoreg.png" target="_blank">this map</a> to help find your way to registration from any of the three entrances to the hotel.

<br/> <br/>

<b>Where can I pick up swag that I pre-ordered, such as a t-shirt or supporter bundle?</b>
<br/>
After you've picked up your pass, you can pick up your swag at the {{ EVENT_NAME }} merch booth.
Use <a href="http://magfest.org/sites/default/files/m12maptomerch.png" target="_blank">this map</a> to help find your way from our registration area to our merch booth.

<br/> <br/>

<b>Where can I view a schedule of events?</b>
<br/>
There are multiple ways to view our schedule:
<ul>
    <li>
        <i>Using a desktop web browser</i>:
        Our <a href="http://magfest.org/schedule/" target="_blank">online schedule</a> is best viewed on desktop computers.
    </li>
    <li>
        <i>Using the Guidebook app on a mobile device</i>:
        Go to the  <a href="http://guidebook.com/g/Magfest12/" target="_blank">Guidebook website</a> to obtain the app, and then search for the {{ EVENT_NAME }} {{ YEAR }} guidebook.
        Alternatively, if you already have the guidebook app installed, or have a QR code reader app, just scan <a href="http://magfest.org/sites/default/files/m12guidebookqr.png" target="_blank">this qr code</a>.
        Make sure to check for guidebook updates periodically through the weekend, as we may make schedule changes.
    </li>
    <li>
        <i>Print your own schedule</i>: We have 11x17 formatted <a href="http://magfest.org/sites/default/files/mag12-schedule11x17.pdf" target="_blank">print schedule</a> that will be available in our Festival Operations room.
        Since schedules are posted outside individual rooms, and are also available online, we will only have limited quantities of the printed schedule available.
        To be safe, please print your own copy of the schedule if you rely on having a hard copy handy.
    </li>
</ul>

<b>Will passes be sold at the door?</b>
<br/>
Yes. Full four-day passes will be available for $60, and one day passes will be available for $40 for Friday or Saturday, and $20 for Thursday or Sunday.

</body>
</html>
