<script type="text/javascript">
    var ageGroupSelected = function() {
        setVisible("#age_disclaimer", $.val("age_group") === {{ UNDER_18 }});
        if (!$.field("badge_type") || $.val("badge_type") !== {{ PSEUDO_DEALER_BADGE }}) {
            setVisible(".staffing", $.val("age_group") !== {{ UNDER_18}});
            staffingClicked(true);
        }
    }
    $(ageGroupSelected);

    var staffingClicked = function(nonGui) {
        var checked = $.field("staffing").is(":visible:checked");
        setVisible("#departments", checked);
        setVisible("#nophone", checked);
        $("#phone").css("font-weight", checked ? "bold" : "normal");
        if (!nonGui) {
            $.focus("email");
        }
    }
    $(staffingClicked);
</script>
<tr>
    <td> <nobr><b>Age as of {{ EVENT_NAME }}:</b></nobr> </td>
    <td>
        <table style="border-spacing:0px ; width:auto">
        <tr>
            <td style="padding:0px">
                <select name="age_group" onChange="ageGroupSelected()">
                    {% options AGE_GROUP_OPTS attendee.age_group %}
                </select>
            </td>
            <td style="padding-left:15px">
                <span id="age_disclaimer" style="font-style:italic">
                    Attendees under 18 <b>MUST</b> bring a signed and notarized parental <nobr><a target="_blank" href="{{ CONSENT_FORM_URL }}">permission slip</a></nobr>.
                </span>
            </td>
        </tr>
        </table>
    </td>
</tr>
<tr class="staffing">
    <td> Want to Volunteer? </td>
    <td>
        <input type="checkbox" name="staffing" value="1" {% if attendee.staffing %}checked{% endif %} onClick="staffingClicked()" /> Sign me up! &nbsp;
        <span class="popup">{% popup_link "../static/views/stafferComps.html" "What do I get for volunteering?" %}</span>
    </td>
</td>
<tr class="staffing" id="departments">
    <td> <b>Where do you<br/>want to help?</b> </td>
    <td> {% checkgroup attendee.requested_depts %} </td>
</tr>
