{% extends "./preregistration/preregbase.html" %}
{% block title %}Choose a Badge Type{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<style type="text/css">
    table.badges {
        border-spacing: 0px;
        border-collapse: collapse;
    }
    table.badges td {
        padding: 5px;
        border: 1px solid black;
    }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $("td:first-child").contents().andSelf().mouseover(function(event){
            $(event.target).find(":radio").focus();
        }).click(function(event){
            if (event.target.nodeName == "TD") {
                $(event.target).find(":radio").click();
            } else {
                $(event.target).siblings(":radio").click();
            }
        }).css("cursor", "default");
    });
</script>

<h2 style="margin-top:10px"> Choose a Badge </h2>
<form method="post" action="form">

<table class="badges">
<tr>
    <td>
        <input type="radio" name="badge_type" value="{{ ATTENDEE_BADGE }}" checked />
        <b>Attendee:</b> &nbsp; ${{ BADGE_PRICE }}
    </td>
    <td>
        <ul>
            <li> All-access, four-day pass </li>
            <li style="color:red">{% attendee_price_notice %}</li>
        </ul>
    </td>
    <td> {% popup_link "../static/views/attendees.html" "Details" %} </td>
</tr>
{% if now > PREREG_TAKEDOWN %}
    <tr>
        <td> <b>Single Day Passes:</b> </td>
        <td><ul><li>Single days passes available for sale at the door for {% single_day_prices %}.</li></ul></td>
    </tr>
{% endif %}
<tr>
{% if GROUP_REG_OPEN %}
    <td>
        {% if now < PREREG_TAKEDOWN %}<input type="radio" name="badge_type" value="{{ PSEUDO_GROUP_BADGE }}" />{% endif %}
        <b>Group</b>
    </td>
    <td>
        <ul>
            <li>Save money when you register eight or more people at once</li>
            <li>${{ GROUP_PRICE }} per person</li>
            <li>Group members can kick in extra to upgrade their badge level</li>
            <li style="color:red">{% group_price_notice %}</li>
        </ul>
    </td>
    <td> {% popup_link "../static/views/groups.html" "Details" %} </td>
{% else %}
    <td> &nbsp;&nbsp;&nbsp;&nbsp; <b>Group</b> </td>
    <td colspan="2" style="color:red">
        <ul><li>The deadline for Group registration has passed, but you can still register as a regular attendee.</li></ul>
    </td>
{% endif %}
</tr>
</table>

<br/>

<input type="submit" value="Continue to Preregistration Form" />

</form>

{% endblock %}
