<script type="text/javascript">
    var donationChanged = function() {
        setVisible(".affiliate-row", $.val("amount_extra") > 0);
        setVisible(".shirt-row", $.val("amount_extra") >= {{ SHIRT_LEVEL }});
        {% if attendee.badge_type == STAFF_BADGE %}
            setVisible(".badge-row", true);
        {% else %}
            setVisible(".badge-row", $.val("amount_extra") >= {{ SUPPORTER_LEVEL }});
        {% endif %}
    };
    $(function(){
        if ($.field("amount_extra")) {
            donationChanged();
            var format = function(opt) {
                if (opt.id == {{ SUPPORTER_LEVEL }} || opt.id == {{ SEASON_LEVEL }}) {
                    return '<span class="select2-bolded">' + opt.text + '</span>';
                } else {
                    return opt.text;
                }
            };
            $.field("amount_extra").select2({
                formatResult: format,
                formatSelection: function(opt) { return opt.text; },
                minimumResultsForSearch: 99,
                escapeMarkup: function(m) { return m; }
            });
            $.field("affiliate").select2({
                placeholder: "I don't care about this",
                createSearchChoice: function(term) {
                    return {id: term, text: term};
                },
                data: {{ affiliates|jsonize }}
            }).select2("val", {{ attendee.affiliate|default:""|jsonize }});
            $("form").submit(function(){
                $(":submit").attr("value", "Uploading Preregistration...").attr("disabled", true);
            });
        }
    });
</script>

{% if attendee.badge_type != PSEUDO_DEALER_BADGE and attendee.badge_type != PSEUDO_GROUP_BADGE %}
    <tr class="extra-row">
        <td valign="top" style="padding-top:15px"><b>Want to kick in extra?</b></td>
        <td>
            {% if AFTER_PRINTED_BADGE_DEADLINE and attendee.amount_extra >= SUPPORTER_LEVEL %}
                {{ attendee.get_amount_extra_display }}
                <input type="hidden" name="amount_extra" value="{{ attendee.amount_extra }}" />
            {% else %}
                <select name="amount_extra" style="width:50%" onChange="donationChanged()">
                    {% options PREREG_DONATION_OPTS attendee.amount_extra %}
                </select>
            {% endif %}
            &nbsp;
            <nobr>{% popup_link "../static/views/givingExtra.html" "Why do this?" %}</nobr>
            <br/>
            <font size="-2">Each level includes all lower levels.</font> <br/>
            <font size="-2" color="red">Supporter level and higher {% if now > SUPPORTER_DEADLINE %}were{% endif %} only available until {{ SUPPORTER_DEADLINE|datetime }}.</font> 
        </td>
    </tr>
{% endif %}
<tr class="badge-row extra-row" style="display:none">
    <td> <b>Name Printed on Badge:</b> </td>
    <td>
        <input type="text" name="badge_printed_name" value="{{ attendee.badge_printed_name }}" {% if AFTER_PRINTED_BADGE_DEADLINE %}readonly{% endif %} />
        {% if AFTER_PRINTED_BADGE_DEADLINE %}
            <br/> <i>(custom badges have already been ordered, so you can no longer set this)</i>
        {% endif %}
    </td>
</tr>
<tr class="affiliate-row extra-row" style="display:none">
    <td valign="top"> <b>Affiliate:</b> </td>
    <td>
        <input type="hidden" name="affiliate" style="width:30ex" />
        &nbsp; <span class="popup">{% popup_link "../static/views/affiliates.html" "What's an affiliate?" %}</span>
    </td>
</tr>
<tr class="shirt-row extra-row" style="display:none">
    <td> <b>Shirt Size</b> </td>
    <td>
        <select name="shirt">
            <option value="{{ NO_SHIRT }}">Select a shirt size</option>
            {% options PREREG_SHIRT_OPTS attendee.shirt %}
        </select>
    </td>
</tr>
