{% extends "./preregistration/preregbase.html" %}
{% block title %}Preregistration{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<form method="post" action="form">
<input type="hidden" name="badge_type" value="{{ attendee.badge_type }}" />
{% if edit_id %}
    <input type="hidden" name="edit_id" value="{{ edit_id }}" />
{% endif %}

<table class="form">
<tr>
    <td><b>Badge:</b></td>
    <td>
        {% if attendee.badge_type == PSEUDO_GROUP_BADGE %}
            Group Registration
        {% elif attendee.badge_type == PSEUDO_DEALER_BADGE %}
            Dealer Application
        {% else %}
            {{ attendee.get_badge_type_display }}
        {% endif %}
    </td>
</tr>
{% if attendee.is_dealer or attendee.badge_type == PSEUDO_GROUP_BADGE %}
    <tr>
        <td><b><nobr>{{ attendee.is_dealer|yesno:"Business,Group" }} Name:</nobr></b></td>
        <td> <input type="text" class="focus" name="name" value="{{ group.name }}" /> </td>
    </tr>
{% endif %}
{% if attendee.is_dealer %}
    <tr class="dealer">
        <td><b>Tables:</b></td>
        <td>
            <select name="tables">
                {% int_options 1 MAX_TABLES group.tables %}
            </select> ({{ TABLE_PRICES }}) &nbsp;&nbsp;
            <nobr>[<i>You may <a href="mailto:marketplace@magfest.org">send an email</a> to request more than {{ MAX_TABLES }} tables.</i>]</nobr>
        </td>
    </tr>
{% endif %}
{% if attendee.is_dealer or attendee.badge_type == PSEUDO_GROUP_BADGE %}
    <tr>
        <td><b>Badges:</b></td>
        <td>
            {% if attendee.is_dealer %}
                <select name="badges">{% int_options 1 MAX_DEALERS badges %}</select>
                (${{ DEALER_BADGE_PRICE }} each) &nbsp;&nbsp; <nobr>[<i>The number of people working your table.</i>]</nobr>
            {% else %}
                <select name="badges">{% int_options MIN_GROUP_SIZE MAX_GROUP_SIZE badges %}</select>
                (${{ GROUP_PRICE }} each)
            {% endif %}
        </td>
    </tr>
{% endif %}
{% if attendee.is_dealer %}
    <tr class="dealer">
        <td>
            <b>Address</b>
            <br/> <i>For tax purposes</i>
        </td>
        <td> <textarea name="address" rows="4" cols="30">{{ group.address }}</textarea> </td>
    </tr>
    <tr class="dealer">
        <td>
            <b>What do you sell?</b>
            <br/> <i>Please be detailed; include a link to view your wares if possible.</i>
        </td>
        <td> <textarea name="wares" rows="4" cols="30">{{ group.wares }}</textarea> </td>
    </tr>
    <tr>
        <td> <b>Website URL</b> </td>
        <td>
            <input type="text" name="website" value="{{ group.website }}" size="40" />
            <i>The one you want us to link on our Confirmed Dealers page, or</i> n/a
        </td>
    </tr>
    <tr class="dealer">
        <td>
            <b>Brief Description</b>
            <br/> <i>For our website; please keep to one sentence.</i>
        </td>
        <td> <textarea name="description" rows="4" cols="30">{{ group.description }}</textarea> </td>
    </tr>
    <tr class="dealer">
        <td>
            <b>Special Needs / Requests</b>
            <br/> <i>No guarantees that we can accommodate any requests.</i>
        </td>
        <td> <textarea name="special_needs" rows="4" cols="30">{{ group.special_needs }}</textarea> </td>
    </tr>
{% endif %}
<tr>
    <td> <b><nobr>First and Last Name:</nobr></b> </td>
    <td>
        <input type="text" style="width:10em" name="first_name" value="{{ attendee.first_name }}" class="focus" />
        <input type="text" style="width:15em" name="last_name"  value="{{ attendee.last_name }}" />
    </td>
</tr>
{% include "preregistration/extra.html" %}
{% include "preregistration/age_and_staffing.html" %}
<tr>
    <td> <b>Email Address:</b> </td>
    <td> <input type="text" name="email" value="{{ attendee.email }}" /> </td>
</tr>
<tr>
    <td> <b>Postal Code:</b> </td>
    <td>
        <table style="border-spacing:0px ; width:auto"> <tr>
            <td style="padding:0px"> <input type="text" name="zip_code" value="{{ attendee.zip_code }}" /> </td>
            <td style="padding-left:15px"> {% checkbox attendee.international %} I'm coming from outside the US. </td>
        </tr> </table>
    </td>
</tr>
{% include "preregistration/phone_numbers.html" %}
<tr>
    <td> What interests you? </td>
    <td> {% checkgroup attendee.interests %} </td>
</tr>
<tr>
    <td> How did you <br/> find {{ EVENT_NAME }}? </td>
    <td> <input type="text" name="found_how" value="{{ attendee.found_how }}" /> </td>
</tr>
<tr>
    <td> Comments: </td>
    <td> <input type="text" name="comments" value="{{ attendee.comments }}" />  </td>
</tr>
<tr>
    <td> Keep Me Updated: </td>
    <td>
        {% checkbox attendee.can_spam %} Send me emails relating to {{ EVENT_NAME }} in future years. &nbsp;&nbsp;
        <span class="popup">{% popup_link "../static/views/privacy.html" "View Our Privacy Policy" %}</span>
    </td>
</tr>
<tr>
    <td></td>
    <td>
        {% if attendee.is_dealer %}
            <input type="submit" value="Submit Application" />
        {% else %}
            <input type="submit" value="Preregister" />
        {% endif %}
    </td>
</tr>
</table>

</form>

<b>Bold fields are required</b>

{% include "preregistration/disclaimers.html" %}

{% endblock %}
