{% extends "base.html" %}
{% block title %}Job Form{% endblock %}
{% block content %}

{% include "jobs/job_menu.html" %}

<script type="text/javascript">
<!--
    function blank() {
        var defaults = {
            name: "",
            description: "",
            duration: 1,
            slots: 1,
            weight: 1.0
        };
        $.each(defaults, function(name,value){
            $("[name=" + name + "]").val(value);
        });
        $("[name=restricted],[name=extra15]").attr("checked", false);
    }
// -->
</script>

{% if defaults %}
    <i>Note: To help you enter the same job at multiple times, this form has been filled in
        using the values of the last shift you created in this location. <br/>
        <a href="#" onClick="blank(); return false;">Click here</a> to undo these defaults and start
        with a blank form.</i>
{% endif %}

<form method="post" action="form">
<input type="hidden" name="id" value="{{ job.id }}" />
<input type="hidden" name="from_schedule" value="{{ from_schedule }}" />
{% csrf_token %}

<table>
<tr>
    <td width="25%"> <b>Job Name:</b> </td>
    <td width="75%"> <input class="focus" type="text" name="name" value="{{ job.name }}" /> </td>
</tr>
<tr>
    <td> Description <i>(Optional)</i>: </td>
    <td> <input type="text" name="description" value="{{ job.description }}" /> </td>
</tr>
<tr>
    <td> <b>Start Time:</b> </td>
    <td>
        <select name="start_time">
            {% options START_TIME_OPTS job.start_time %}
        </select>
    </td>
</tr>
<tr>
    <td> <b>Duration:</b> </td>
    <td>
        <select name="duration">
            {% options DURATION_OPTS job.duration %}
        </select>
    </td>
</tr>
<tr>
    <td> <b>Extra 15{% popup_link "../static/views/extra15.html" %}</b> </td>
    <td> {% checkbox job.extra15 %} Yes </td>
</tr>
<tr>
    <td> <b>Slots:</b> </td>
    <td>
        <select name="slots">
            {% int_options 1 10 job.slots %}
        </select>
        {% if job.id %}({{ job.shift_set.count }} filled){% endif %}
    </td>
</tr>
<tr>
    <td> <b>Location:</b> </td>
    <td>
        <select name="location">
            {% options JOB_LOC_OPTS job.location %}
        </select>
    </td>
</tr>
<tr>
    <td> <b>Weight:{% popup_link "../static/views/weightDesc.html" %}</b> </td>
    <td>
        <select name="weight">
            {% options WEIGHT_OPTS job.weight %}
        </select>
    </td>
</tr>
<tr>
    <td> <b>Restricted:{% popup_link "../static/views/trustDesc.html" %}</b> </td>
    <td> {% checkbox job.restricted %} Yes </td>
</tr>
<tr>
    <td></td>
    <td> <input type="submit" value="Upload" />
</tr>
</table>

</form>

{% if job.id %}
    <form method="post" action="delete">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ job.id }}" />
    <table width="100%" cellspacing="5" cellpadding="5">
    <tr>
        <td width="25%"></td>
        <td width="75%"> <input type="submit" value="Delete" /> </td>
    </tr>
    </table>
    </form>
{% endif %}

{% endblock %}
