<html>
<head>
    <title> {{ EVENT_NAME }} - Privacy Policy </title>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css" />
</head>
<body>

<h3 class="center">We Hate Spam!</h3>

If you don't opt-in to receiving {{ EVENT_NAME }}-related emails into the future, then we will only
use your email address to contact you as necessary about this year's {{ EVENT_NAME }}, and then the
address will never again be used.

<br/> <br/>

If you do opt-in to receiving emails in the future, here are some assurances:
<ul class="pad-top-10">
    <li> Your email address will never be shared with anyone; not companies which partner with {{ EVENT_NAME }}, not third parties, no one. </li>
    <li> You may opt-out of receiving further emails at any time. </li>
    <li> You will only be contacted about things relating to {{ EVENT_NAME }}. </li>
</ul>

</body>
</html>
