{% extends "base.html" %}
{% block title %}Fire Safety Training{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<h2> Fire Safety Certification </h2>

The state of Maryland requires all {{ EVENT_NAME }} staff to complete an online training course
from the Maryland fire marshal on crowd/fire safety.  You must read through some slides
and complete a brief online test.  At the end, you are presented with a certificate,
which contains your certification number.

<br/> <br/>

Complete the course at
<a target="_blank" href="http://firemarshal.state.md.us/crowdmanager/">http://firemarshal.state.md.us/crowdmanager/</a>
and then copy/paste the certification number below.  {% popup_link ../static/images/fire_cert_example.png "Click here" %}
to see an example certificate so you'll know where to find the certification number.

<br/> <br/>

<form method="post" action="fire_safety">
{% csrf_token %}
Certification Number: <input type="text" class="focus" name="fire_safety_cert" value="{{ fire_safety_cert }}" />
<input type="submit" value="Submit Certification" />
</form>

<br/>

Certifications are valid for three years, so you can enter your certification number from last year if you
completed the training then.

{% endblock %}
