{% extends "base.html" %}
{% block backlink %}{% endblock %}
{% block title %}Homepage{% endblock %}
{% block content %}

<style type="text/css">
    div.indent {
        text-indent: 20px;
    }
    div.heading {
        margin-top:  20px;
        font-weight: bold;
        font-size:   14pt;
    }
</style>

<h2> {{ EVENT_NAME }} Ubersystem Administration </h2>

<div class="indent"> Welcome to the {{ EVENT_NAME }} Ubersystem.  <a href="../accounts/sitemap">Click here</a> for a full site map, or use one of the common links below. </div>

<div class="heading">Request Features and Report Bugs</div>
<div class="indent">
    Uber is constantly changing/improving, and if you have an idea for an improvement or want to report a bug, please
    do so in our issue tracker.
</div>
<ul>
    <li><a href="https://github.com/EliAndrewC/magfest/issues">View and Create Issues</a></li>
</ul>

{% if HAS_ACCOUNTS_ACCESS %}
    <div class="heading"> Administrative Accounts </div>
    <div class="indent">Add new accounts and set which sections of the ubersystem
        each administrator can access. </div>
    <ul>
        <li> <a href="../accounts/">Manage Accounts</a> </li>
    </ul>
{% endif %}

{% if HAS_PEOPLE_ACCESS %}
    <div class="heading"> People </div>
    <div class="indent"> Manage the people coming to and working for {{ EVENT_NAME }}. </div>
    <ul>
        <li> <a href="../registration/">Attendees</a> </li>
        <li> <a href="../groups/">Groups</a> </li>
        {% if AT_THE_CON %}
            <li> <a href="../jobs/everywhere">All untaken shifts for all departments</a> </li>
        {% else %}
            <li> <a href="../registration/staffers">Staffers</a> </li>
        {% endif %}
        <li> <a href="../jobs/">Jobs</a> </li>
        <li> <a href="../registration/feed">Feed of Database Changes</a> </li>
        {% if AT_OR_POST_CON %}
            <li> <a href="../registration/merch">Merch</a> </li>
        {% endif %}
    </ul>
{% endif %}

{% if HAS_STUFF_ACCESS %}
    <div class="heading"> Events </div>
    <div class="indent"> Track what's on our schedule and assign inventory and jobs to events as needed. </div>
    <ul>
        <li> <a href="../schedule/">View Schedule</a> (as the public will see it) </li>
        <li> <a href="../schedule/edit">Edit Schedule</a> </li>
    </ul>
{% endif %}

{% if HAS_MONEY_ACCESS %}
    <div class="heading"> Money </div>
    <div class="indent"> Balance the money {{ EVENT_NAME }} has acquired and spent. </div>
    <ul> <li> <a href="../budget/">Budget</a> </li> </ul>
    {% if POST_CON %}
        <ul> <li> <a href="../budget/mpoints">M-Point usage</a> </li> </ul>
    {% endif %}
    <ul> <li> <a href="../analytics">{{ EVENT_NAME }} analytics</a> (graphs, stats, etc) </li></ul>
{% endif %}

{% if HAS_CHALLENGES_ACCESS %}
    <div class="heading"> Challenges </div>
    <div class="indent"> Track the games and winners at the Challenges Booth. </div>
    <ul> <li> <a href="../challenges/">Challenges</a> </li> </ul>
{% endif %}

{% if AT_THE_CON and HAS_CHECKINS_ACCESS %}
    <div class="heading"> Tabletop </div>
    <div class="indent"> Track the games that people bring and check out. </div>
    <ul> <li> <a href="../tabletop/">Tabletop Games</a> </li> </ul>
{% endif %}

<div class="heading"> Your Account </div>
<ul>
    <li> <a href="change_password">Change Password</a> </li>
    <li> <a href="logout">Logout</a> </li>
</ul>

<br/>

{% endblock %}
