{% extends "base.html" %}
{% block title %}Dietary Restrictions{% endblock %}
{% block content %}

<h2> Dietary Restrictions for {{ EVENT_NAME }} Volunteers </h2>

<table style="text-align:center"><tr>
    <td><b>{{ guests|add:volunteers }} food-eligible people</b> ({{ volunteers }} staffers/volunteers and {{ guests }} guests)</td>
</tr></table>

<h3> Standard Dietary Restrictions</h3>

<ul>
    <li>{{ standard.vegetarian }} vegetarians<b>*</b></li>
    <li>{{ standard.vegan }} vegans</li>
    <li>{{ standard.gluten }} people with gluten-free diets</li>
</ul>

<h3> Notes people left about their dietary restrictions: </h3>

<ul>
    {% for note in notes %}
        <li>{{ note }}</li>
    {% endfor %}
</ul>

<br/> <br/>

<b>*</b> <i>People who checked both "vegetarian" and "vegan" on their form are only counted as vegans for the purposes of these numbers and do not add to the "vegetarians" number listed here.</i>

{% endblock %}
